@media screen and (min-width:0) {
    /*mesmo estilo, digo mesmo codigo, para evitar repetir colocamos junto*/
    .destaques__principal,.destaques__categorias{
        grid-column:  1/5;
        
    }
    .destaques__secundario:nth-child(2){
        display: none;
        /*poderia ter colocado s贸 o display none, mas por algum motivo ele colocou tudo.*/
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(3){
        display: none;
        /*poderia ter colocado s贸 o display none, mas por algum motivo ele colocou tudo.*/
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(4){
        display: none;
        /*poderia ter colocado s贸 o display none, mas por algum motivo ele colocou tudo.*/
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(5){
        display: none;
        /*poderia ter colocado s贸 o display none, mas por algum motivo ele colocou tudo.*/
        grid-column: none;
        grid-row: none;
    }
    .populares__conteudo{
        flex-direction: column;

    }
    .populares__card{
        grid-template-rows: 150px auto;
        margin-bottom: 3rem;
        margin-right: 0;
        width: 100%;
    }

    
}

@media screen and (min-width: 768px) {
    .destaques__principal{
        grid-column:  1/4;
        
    }
    .destaques__secundario:nth-child(2){
        display: flex;
        grid-column: 4/4;
        grid-row: 1/1;
    }
    .destaques__secundario:nth-child(3){
        display: flex;
        grid-column: 4/4;
        grid-row: 2/2;
    }
    .destaques__secundario:nth-child(4){
        display: flex;
        grid-column: 4/4;
        grid-row: 3/3;
    }
    .destaques__secundario:nth-child(5){
        display: flex;
        grid-column: 3/3;
        grid-row: 3/3;
    }
    .destaques__categorias{
        grid-column: 1/3;
    }
    .populares__conteudo{
        flex-direction: row;

    }
    .populares__card{
        grid-template-rows: 173px auto;
        
        margin-right: 1rem;
        width: calc(50% - 1rem);
    }
  
}

@media screen and (min-width: 992px) {
    .populares__card{
        
        width: calc(33.33% - 1rem);
    }
}

@media screen and (min-width: 1200px) {
    .populares__card{
        margin-bottom: 0;
        width: calc(20% - 1rem);
    }
}