*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    

}

.corpo{
    background-color: #444444;
    padding: 16px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px;


}

.cabecalho{
    background-color:#cc2a2a ;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    gap: 16px;
    grid-column: span 4;
   
}

.menu__lateral{
    background-color: green ;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    gap: 16px;
    grid-column: 4;
    grid-row: 1 /span 3 ;
}

.principal{
    background-color: lightblue ;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    gap: 16px;
    grid-column: span 2;
    grid-row: 1/ span 3;
    padding: 10px;
    
}

.conteudo__lado1{
    background-color: blue ;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    gap: 16px;
    grid-column: 1;
    grid-row: 3;
}

.conteudo__lado2{
    background-color: purple;  
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    gap: 16px;
    grid-row: 1 / span 2;
    grid-column: 1;
}