:root{
    --cor-corpo: #1D232A;
    --cor-cabecalho: #1D232A;
    --cor-cabecalho-mobile: #15191C;
    --cor-menu-lateral:#15191C;
    --cor-cartao:#2C343A;
    --cor-fonte-padrao:#FFFFFF;
    --cor-fonte-alternativa: #95999C;
    --cor-links:#0480DC;
    --cor-botao:#0480DC;

}

@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background-color: var(--cor-corpo);
    /*chamou a fonte icones dentro do body*/
    font-family: 'Open Sans','icones', sans-serif;
    color: var(--cor-fonte-padrao);
}

.cabecalho{
    /*todos ficam alinhados um do lado do outro.*/
    display: flex;
    /*space between eu já tinha visto mas n estudado.*/
    justify-content: space-between;
    /*stetch o elemento fica inteiro acessivel, já o center apenas o conteudo fica acessivel.*/
    align-items: center;
    background-color: var(--cor-cabecalho-mobile);
    padding: 8px 16px ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

/*Ele criou a tag i, e criou pseudo-classes para inserir o icone dentro do elemento, tuilizando o content

Como os icones, estão dentro de um arquivo fonte, eles se comportam como letras, então ele corrigiu o tamanho deles com font size

*/

.cabecalho__menu i::before{
    content: "\e904";
    font-size: 24px;

}

.cabecalho__notificacao i::before{
    content: "\e906";
    font-size: 24px;
}

.cabecalho__logo{
    width: 40px;
}

.menu-lateral{
    display: flex;
    /*propriedade do flex, para deixar os elementos em coluna*/
    flex-direction: column;
    /*Podemos usar ainda o justify-content e o allign itens, porém agr eles se comportam diferente por causa do flex direction ele vai mexer no eixo horizontal agr*/
    background-color: var(--cor-menu-lateral);
    /*
    width: 75vw; /*largura da view port, VW = VIEW WIDTH NAO VH= VIEW HEIGHT
    height: 100vh;
    */
    width: 75vw;
    height: 100vh;
    /*eu comecei a fazer o js, e na minha cabeça eu ia deletar a classe do menu e clicando eu ia adicionar ela, mas na verdade ele vai fazer é esconder o menu por padrao na classe dele css, e quando clicar vai mudar a classe, interessante*/
    /*Para esconder toda a classe ele está colocando a posição absoluta e colocando ele fora da tela.*/
    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral--ativo{
    left: 0;
    transition: .25s;
}


.menu-lateral__logo{
    /*alinhamos um item ao centro e o resto ficou do jeito que estava.*/
    align-self: center;
    width: 118px;
    padding: 16px;
}

.menu-lateral__link{
    height: 64px;
    color: var(--cor-fonte-alternativa);
    padding-left: 64px;
    /* fez virar um display flex para poder adicionar itens*/
    display: flex;
    /*adicionou um icone no content e agora vamos arrumar o espaço*/
    align-items: center;
}

.menu-lateral__link--ativo{
    color: var(--cor-fonte-padrao);
    /*vamos colocar um border na esquerda ela é a camada mais de fora do box model o padding vai empurrar mais do que o alem da borda lateral
    Entao vamos diminuir o padding, para ganhar na borda
    */
    padding-left: 56px;
    border-left: 8px solid var(--cor-fonte-padrao);
}

.menu-lateral__link::before{
    content: "\e900";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral__link--inicio::before{
    content: "\e902";

}

.menu-lateral__link--video::before{
    content: "\e90e";
}

.menu-lateral__link--picos::before{
    content: "\e909";
}

.menu-lateral__link--integrantes::before{
    content: "\e903";
}

.menu-lateral__link--camisas::before{
    content: "\e900";
}

.menu-lateral__link--pinturas::before{
    content: "\e90a";
}

.principal{
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.titulo-pagina{
    font-size: 1.5rem;
    font-weight: 700;
}

.titulo-secao{
    font-size: 1.5rem;
    font-weight: 700;
}

.camisetas__maisvendidas{
    font-size: 18px;
}

.cartao{
    /*ocupar todo display*/
    width: 100%;
    border-radius: 15px;
    /*tudo que passar deste cartão v ai ficar escondido.*/
    overflow: hidden;
    background-color: var(--cor-cartao);
}

.cartao--destaque{
    margin-bottom: 16px;
}

.cartao__conteudo{
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 8px;
    column-gap: 8px;
}

.cartao__destaque{
    grid-column: span 2;
}

.cartao__titulo{
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao__perfil{
    color: var(--cor-fonte-alternativa);
    font-size: 0.9rem;
    grid-column: span 2;
}

.carto__info{
    display: flex;
    align-items: center;
    color: var(--cor-fonte-alternativa);
}

.cartao__info--valor{
    color: var(--cor-fonte-alternativa);
    align-items:flex-start;
}

.cartao__info--tempo::before{
     content: "\e90c";
     margin-left: 8px;
}

.cartao__info--valor::before{
    content: "\e905";
    color: var(--cor-fonte-alternativa);
}

.cartao__info--visualizacao::before{
    content: "\e90f";
    margin-left: 8px;
}

.cartao__botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-botao);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}



.cartao__botao--play::before{
    content: "\e90b";
    font-size: 24px;
}

.cartao__botao--comprar::before{
    content: "\e901";
    font-size: 24px;
}

.cartao__botao--destaque{
    width: 100%;
    grid-column: span 2;
    

}

.cartao__botao--destaque::before{
    margin-right: 8px;
 
}

.secao{
    display: grid;
    gap: 16px;
}

