.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
    
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap;
    height: 250px;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
    
}

.conteudoPrincipal-cursos-link{
    width: 23%;
    margin: 1%;
}
.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left : 0;
}

.videoSobre .container{
    display: flex;
}

.videoSobre-sobre{
    text-align: center;
    /*Display flex sempre colocado do lado
    */
    display: flex;
    /*display direction colum, e ele tomou um width de 100% sem precisarmos fazer isso.*/
    flex-direction: column;
    flex-grow: 2;
    
}
.videoSobre-sobre-list{
    flex-grow: 1;
}
.videoSobre-video{
    flex-grow: 1;
    flex-shrink: 2;
}


/*Mobile*/
@media screen and (max-width:768px) {
    

    .cabecalhoPrincipal-nav{
        flex-direction: column;
        
    }
    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .conteudoPrincipal-cursos{
        flex-direction: colum;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
        
    }

    .rodapePrincipal-navMap-list{
        /*vai calcular sozinho, assim n vai quebrar linhas e ir pra outra coluna*/
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-patrocinadores-list{
        width: 100%;
        margin: 0;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }

    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }
    .videoSobre .container{
        flex-direction: column;
    }
    .videoSobre-video{
        margin: 0 auto;

    /* como o video é displayblock tem que ser uma margin.
    justify-content: center;*/
    }

}
